@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1f95je');
  src:  url('fonts/icomoon.eot?1f95je#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?1f95je') format('truetype'),
  url('fonts/icomoon.woff?1f95je') format('woff'),
  url('fonts/icomoon.svg?1f95je#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconfont {
  font-family: 'icomoon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-myiconfontdongtaidianji:before {
  content: '\e900';
}

.el-icon-myzhiding:before {
  content: '\e9c6';
}

.el-icon-mypinglun:before {
  content: '\e905';
}

.el-icon-mybiaoqing:before {
  content: '\e9e1';
}

.el-icon-mytupian:before {
  content: '\e911';
}

.el-icon-myfabusekuai:before {
  content: '\e906';
}

.el-icon-mygongkai:before {
  content: '\e9ce';
}

.el-icon-mycaogaoxiang:before {
  content: '\e901';
}

.el-icon-myyemianpeizhi:before {
  content: '\e994';
}

.el-icon-myjiekouguanli:before {
  content: '\e902';
}

.el-icon-mydaohanglantubiao_quanxianguanli:before {
  content: '\ea81';
}

.el-icon-myhuishouzhan:before {
  content: '\e90d';
}

.el-icon-myzhaopian:before {
  content: '\e90e';
}

.el-icon-myFiles-59:before {
  content: '\e909';
}

.el-icon-myimage-fill:before {
  content: '\e911';
}

.el-icon-myjiaoseliebiao:before {
  content: '\e90b';
}

.el-icon-mycaozuorizhi:before {
  content: '\e922';
}

.el-icon-mycaidan:before {
  content: '\eac2';
}

.el-icon-myfabiaowenzhang:before {
  content: '\e90c';
}

.el-icon-mywenzhangliebiao:before {
  content: '\e916';
}

.el-icon-myyonghuliebiao:before {
  content: '\e923';
}

.el-icon-myxiaoxi:before {
  content: '\e96c';
}

.el-icon-myliuyan:before {
  content: '\e900';
}

.el-icon-myfenlei:before {
  content: '\e915';
}

.el-icon-myshouye:before {
  content: '\e90f';
}

.el-icon-mywendang:before {
  content: '\e926';
}

.el-icon-myxitong:before {
  content: '\e9c9';
}

.el-icon-mypinglunzu:before {
  content: '\e96d';
}

.el-icon-myshezhi:before {
  content: '\e994';
}

.el-icon-mydashujukeshihuaico-:before {
  content: '\e9cb';
}

.el-icon-myicontag:before {
  content: '\e904';
}

.el-icon-myliebiao:before {
  content: '\e9bb';
}

.el-icon-myuser:before {
  content: '\e971';
}

.el-icon-myfangwenliang:before {
  content: '\e972';
}

.el-icon-mymima:before {
  content: '\e90a';
}

.el-icon-mytuichu:before {
  content: '\e908';
}

.el-icon-myicwindowzoom48px:before {
  content: '\e989';
}

.el-icon-mydianzan:before {
  content: '\e907';
}

.el-icon-mywenzhang-copy:before {
  content: '\e926';
}

.el-icon-myguanyuwo:before {
  content: '\e976';
}

.el-icon-mynote:before {
  content: '\e91f';
}

.el-icon-mykuozhan:before {
  content: '\e98a';
}

.el-icon-myrizhi:before {
  content: '\e912';
}

.el-icon-myrizhi_yichang:before {
  content: '\e913';
}

.el-icon-myrizhi_caozuo:before {
  content: '\e914';
}

/*合集图标*/
.el-icon-myheji:before {
  content: '\e920';
}


