<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.mapper.ArchiveMapper">
    <select id="listArchives" resultType="com.aurora.entity.Archive">
        select id,
                title,
                SUBSTR(content,1,500) AS content,
                create_time,
                time,
                article_id,
                type
        from t_archive
        where is_delete = 0
        order by create_time desc
        LIMIT #{current}, #{size}
    </select>
</mapper>
