<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.mapper.MusicMapper">
    <select id="listMusics" resultType="com.aurora.entity.Music">
        select id, head, name, music
        from t_music
        ORDER BY RAND()
    </select>
</mapper>
