<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.mapper.NoteMapper">
    <resultMap id="NoteCardDTOResultMap" type="com.aurora.model.dto.NoteCardDTO">
        <id property="id" column="id"/>
        <result property="noteCover" column="note_cover"/>
        <result property="noteTitle" column="note_title"/>
        <result property="noteContent" column="note_content"/>
        <result property="isFeatured" column="is_featured"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="collectionName" column="collection_name"/>
        <association property="author" javaType="com.aurora.entity.UserInfo">
            <result property="nickname" column="author_nickname"/>
            <result property="website" column="author_website"/>
            <result property="avatar" column="author_avatar"/>
        </association>
        <collection property="tags" ofType="com.aurora.entity.Tag">
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>
    <resultMap id="NoteDTOResultMap" type="com.aurora.model.dto.NoteDTO">
        <id property="id" column="id"/>
        <result property="noteCover" column="note_cover"/>
        <result property="noteTitle" column="note_title"/>
        <result property="noteContent" column="note_content"/>
        <result property="isFeatured" column="is_featured"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="collectionName" column="collection_name"/>
        <result property="type" column="type"/>
        <result property="originalUrl" column="original_url"/>
        <association property="author" javaType="com.aurora.entity.UserInfo">
            <result property="nickname" column="author_nickname"/>
            <result property="website" column="author_website"/>
            <result property="avatar" column="author_avatar"/>
        </association>
        <collection property="tags" ofType="com.aurora.entity.Tag">
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>
    <resultMap id="noteAdminResultMap" type="com.aurora.model.dto.NoteAdminDTO">
        <id property="id" column="id"/>
        <result property="noteCover" column="note_cover"/>
        <result property="noteTitle" column="note_title"/>
        <result property="isFeatured" column="is_featured"/>
        <result property="isDelete" column="is_delete"/>
        <result property="status" column="status"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
        <result property="collectionName" column="collection_name"/>
        <collection property="tagDTOs" ofType="com.aurora.model.dto.TagDTO">
            <id column="tag_id" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>
<!--    <select id="listTopAndFeaturedArticles" resultMap="ArticleCardDTOResultMap">-->
<!--        SELECT a.id                            AS id,-->
<!--               category_id,-->
<!--               article_cover,-->
<!--               article_title,-->
<!--               SUBSTR(article_content, 1, 500) AS article_content,-->
<!--               is_top,-->
<!--               is_featured,-->
<!--               status,-->
<!--               a.create_time                   AS create_time,-->
<!--               a.update_time                   AS update_time,-->
<!--               u.nickname                      AS author_nickname,-->
<!--               u.website                       AS author_website,-->
<!--               u.avatar                        AS author_avatar,-->
<!--               c.category_name                 AS category_name,-->
<!--               tag_name-->
<!--        FROM (SELECT id,-->
<!--                     user_id,-->
<!--                     category_id,-->
<!--                     article_cover,-->
<!--                     article_title,-->
<!--                     article_content,-->
<!--                     is_top,-->
<!--                     is_featured,-->
<!--                     is_delete,-->
<!--                     status,-->
<!--                     create_time,-->
<!--                     update_time-->
<!--              FROM t_article) a-->
<!--                 LEFT JOIN t_article_tag at-->
<!--                           ON a.id = at.article_id-->
<!--                 LEFT JOIN t_tag t ON t.id = at.tag_id-->
<!--                 LEFT JOIN t_category c ON a.category_id = c.id-->
<!--                 LEFT JOIN t_user_info u ON a.user_id = u.id-->
<!--        where a.is_delete = 0-->
<!--          and a.status in (1, 2)-->
<!--        order by is_top desc, is_featured desc-->
<!--    </select>-->
    <select id="listNotes" resultMap="NoteCardDTOResultMap">
        SELECT a.id                            AS id,
               note_cover,
               note_title,
               SUBSTR(note_content, 1, 500) AS note_content,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.collection_name                 AS collection_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     collection_id,
                     note_cover,
                     note_title,
                     note_content,
                     is_featured,
                     is_delete,
                     status,
                     create_time,
                     update_time
              FROM t_note
              where is_delete = 0
                and status in (1, 2)
              order by id desc
                  LIMIT #{current}, #{size}) a
                 LEFT JOIN t_note_tag nt
        ON a.id = nt.note_id
            LEFT JOIN t_tag t ON t.id = nt.tag_id
            LEFT JOIN t_collection c ON a.collection_id = c.id
            LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
<!--    <select id="getArticlesByCategoryId" resultMap="ArticleCardDTOResultMap">-->
<!--        SELECT a.id                            AS id,-->
<!--               article_cover,-->
<!--               article_title,-->
<!--               SUBSTR(article_content, 1, 500) AS article_content,-->
<!--               is_top,-->
<!--               is_featured,-->
<!--               status,-->
<!--               a.create_time                   AS create_time,-->
<!--               a.update_time                   AS update_time,-->
<!--               u.nickname                      AS author_nickname,-->
<!--               u.website                       AS author_website,-->
<!--               u.avatar                        AS author_avatar,-->
<!--               c.category_name                 AS category_name,-->
<!--               tag_name-->
<!--        FROM (SELECT id,-->
<!--                     user_id,-->
<!--                     category_id,-->
<!--                     article_cover,-->
<!--                     article_title,-->
<!--                     article_content,-->
<!--                     is_top,-->
<!--                     is_featured,-->
<!--                     is_delete,-->
<!--                     status,-->
<!--                     create_time,-->
<!--                     update_time-->
<!--              FROM t_article-->
<!--              WHERE category_id = #{categoryId}-->
<!--                and is_delete = 0-->
<!--                and status in (1, 2)-->
<!--              order by id desc-->
<!--              LIMIT #{current} , #{size}) a-->
<!--                 LEFT JOIN t_article_tag at-->
<!--                           ON a.id = at.article_id-->
<!--                 LEFT JOIN t_tag t ON t.id = at.tag_id-->
<!--                 LEFT JOIN t_category c ON a.category_id = c.id-->
<!--                 LEFT JOIN t_user_info u ON a.user_id = u.id-->
<!--    </select>-->
    <select id="getNoteById" resultMap="NoteDTOResultMap">
        SELECT a.id            AS id,
               note_cover,
               note_title,
               note_content,
               is_featured,
               type,
               original_url,
               a.create_time   AS create_time,
               a.update_time   AS update_time,
               u.nickname      AS author_nickname,
               u.website       AS author_website,
               u.avatar        AS author_avatar,
               c.collection_name AS collection_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     collection_id,
                     note_cover,
                     note_title,
                     note_content,
                     is_featured,
                     is_delete,
                     status,
                     type,
                     original_url,
                     create_time,
                     update_time
              FROM t_note
              WHERE id = #{noteId}
                and is_delete = 0
                and status in (1, 2)) a
                 LEFT JOIN t_note_tag at
                           ON a.id = at.note_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_collection c ON a.collection_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
    <select id="getPreNoteById" resultMap="NoteCardDTOResultMap">
        SELECT a.id                            AS id,
               note_cover,
               note_title,
               SUBSTR(note_content, 1, 500) AS note_content,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.collection_name                 AS collection_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     collection_id,
                     note_cover,
                     note_title,
                     note_content,
                     is_featured,
                     is_delete,
                     status,
                     create_time,
                     update_time
              FROM t_note
              WHERE id &lt; #{noteId}
                and is_delete = 0
                and status in (1, 2)
              order by id desc
              limit 0, 1) a
                 LEFT JOIN t_note_tag at
                           ON a.id = at.note_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_collection c ON a.collection_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
    <select id="getNextNoteById" resultMap="NoteCardDTOResultMap">
        SELECT a.id                            AS id,
               note_cover,
               note_title,
               SUBSTR(note_content, 1, 500) AS note_content,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.collection_name                 AS collection_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     note_id,
                     note_cover,
                     note_title,
                     note_content,
                     is_featured,
                     is_delete,
                     status,
                     create_time,
                     update_time
              FROM t_note
              WHERE id &gt; #{noteId}
                and is_delete = 0
                and status in (1, 2)
              order by id
              limit 0,1) a
                 LEFT JOIN t_note_tag at
                           ON a.id = at.note_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_collection c ON a.collection_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
    <select id="getFirstNote" resultMap="NoteCardDTOResultMap">
        SELECT a.id                            AS id,
               note_cover,
               note_title,
               SUBSTR(note_content, 1, 500) AS note_content,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.collection_name                 AS collection_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     note_id,
                     note_cover,
                     note_title,
                     note_content,
                     is_featured,
                     is_delete,
                     status,
                     create_time,
                     update_time
              FROM t_note
              WHERE is_delete = 0
                and status in (1, 2)
              order by id
              limit 0,1) a
                 LEFT JOIN t_note_tag at
                           ON a.id = at.note_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_collection c ON a.collection_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
    <select id="getLastNote" resultMap="NoteCardDTOResultMap">
        SELECT a.id                            AS id,
               note_cover,
               note_title,
               SUBSTR(note_content, 1, 500) AS note_content,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.collection_name                 AS collection_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     collection_id,
                     note_cover,
                     note_title,
                     note_content,
                     is_featured,
                     is_delete,
                     status,
                     create_time,
                     update_time
              FROM t_note
              WHERE is_delete = 0
                and status in (1, 2)
              order by id desc
              limit 0,1) a
                 LEFT JOIN t_note_tag at
                           ON a.id = at.note_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_collection c ON a.collection_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
<!--    <select id="listArticlesByTagId" resultMap="ArticleCardDTOResultMap">-->
<!--        SELECT a.id                            AS id,-->
<!--               category_id,-->
<!--               article_cover,-->
<!--               article_title,-->
<!--               SUBSTR(article_content, 1, 500) AS article_content,-->
<!--               is_top,-->
<!--               is_featured,-->
<!--               status,-->
<!--               a.create_time                   AS create_time,-->
<!--               a.update_time                   AS update_time,-->
<!--               u.nickname                      AS author_nickname,-->
<!--               u.website                       AS author_website,-->
<!--               u.avatar                        AS author_avatar,-->
<!--               c.category_name                 AS category_name,-->
<!--               tag_name-->
<!--        FROM t_article a-->
<!--                 LEFT JOIN t_article_tag at-->
<!--                           ON a.id = at.article_id-->
<!--                 LEFT JOIN t_tag t ON t.id = at.tag_id-->
<!--                 LEFT JOIN t_category c ON a.category_id = c.id-->
<!--                 LEFT JOIN t_user_info u ON a.user_id = u.id-->
<!--        WHERE at.tag_id = #{tagId}-->
<!--          and a.is_delete = 0-->
<!--          and status in (1, 2)-->
<!--        LIMIT #{current} , #{size}-->
<!--    </select>-->
<!--    <select id="listArchives" resultType="com.aurora.model.dto.ArticleCardDTO">-->
<!--        SELECT id,-->
<!--               article_title,-->
<!--               SUBSTR(article_content, 1, 500) AS article_content,-->
<!--               create_time-->
<!--        FROM t_article-->
<!--        WHERE is_delete = 0-->
<!--          and status = 1-->
<!--        ORDER BY create_time DESC-->
<!--        LIMIT #{current}, #{size}-->
<!--    </select>-->
    <select id="countNoteAdmins" resultType="java.lang.Integer">
        SELECT
        count(DISTINCT a.id)
        from
        t_note a
        LEFT JOIN t_note_tag nt on a.id = nt.note_id
        <where>
            is_delete = #{conditionVO.isDelete}
            <if test="conditionVO.keywords != null">
                and note_title like concat('%',#{conditionVO.keywords},'%')
            </if>
            <if test="conditionVO.status != null">
                and `status` = #{conditionVO.status}
            </if>
            <if test="conditionVO.categoryId != null">
                and collection_id = #{conditionVO.categoryId}
            </if>
            <if test="conditionVO.type != null">
                and type = #{conditionVO.type}
            </if>
            <if test="conditionVO.tagId != null">
                and nt.tag_id = #{conditionVO.tagId}
            </if>
        </where>
    </select>
    <select id="listNotesAdmin" resultMap="noteAdminResultMap">
        SELECT
        a.id,
        note_cover,
        note_title,
        is_featured,
        a.is_delete,
        a.status,
        a.type,
        a.create_time,
        collection_name,
        t.id AS tag_id,
        t.tag_name
        FROM
        (
        SELECT
        id,
        note_cover,
        note_title,
        is_featured,
        is_delete,
        status,
        type,
        create_time,
        collection_id
        FROM
        t_note
        <where>
            is_delete = #{conditionVO.isDelete}
            <if test="conditionVO.keywords != null">
                and note_title like concat('%',#{conditionVO.keywords},'%')
            </if>
            <if test="conditionVO.status != null">
                and status = #{conditionVO.status}
            </if>
            <if test="conditionVO.collectionId != null">
                and collection_id = #{conditionVO.collectionId}
            </if>
            <if test="conditionVO.type!=null">
                and type = #{conditionVO.type}
            </if>
            <if test="conditionVO.tagId != null">
                and id in
                (
                SELECT
                note_id
                FROM
                t_note_tag
                WHERE
                tag_id = #{conditionVO.tagId}
                )
            </if>
        </where>
        ORDER BY
        is_featured DESC,
        id DESC
        LIMIT #{current},#{size}
        ) a
        LEFT JOIN t_collection c ON a.collection_id = c.id
        LEFT JOIN t_note_tag at ON a.id = at.note_id
        LEFT JOIN t_tag t ON t.id = at.tag_id
        ORDER BY
        is_featured DESC,
        a.id DESC
    </select>
<!--    <select id="listArticleStatistics" resultType="com.aurora.model.dto.ArticleStatisticsDTO">-->
<!--        SELECT DATE_FORMAT(create_time, "%Y-%m-%d") AS date,-->
<!--               COUNT(1)                             AS count-->
<!--        FROM t_article-->
<!--        GROUP BY date-->
<!--        ORDER BY date DESC-->
<!--    </select>-->
</mapper>
